.contenedorGrid{
    display: grid;
    grid-template-areas:"vacio1 texto0 imagen0 vacio2"
                        "vacio1 texto1 imagen1 vacio2"
                        "vacio1 texto2 imagen2 vacio2"
                        "vacio1 imagen3 texto3 vacio2"
                        "vacio1 texto4 imagen4 vacio2";
    grid-gap: 20px;
    padding: 0px;
}
.texto0{
    padding: 30px 0px;
    grid-area: texto0;
    text-align: justify;
    margin-top: 20px;
    width: 600px;
}
.imagen0{
    grid-area: imagen0;
    text-align: right;
    width: 400px;
    margin-top: 20px;
}
.imagen0 img{
    height: 243px;
}
.imagen1 img{
    height: 243px;
}
.imagen2 img{
    height: 243px;
}
.texto1{
    padding: 30px 0px;
    grid-area: texto1;
    text-align: justify;
    margin-top: 20px;
    width: 600px;
}
.imagen1{
    grid-area: imagen1;
    text-align: center;
    width: 400px;
    margin-top: 20px;
}
.texto2{
    padding: 30px 0px;
    grid-area: texto2;
    text-align: justify;
    margin-top: 20px;
    width: 600px;
}
.imagen2{
    grid-area: imagen2;
    text-align: center;
    width: 400px;
    margin-top: 20px;
    overflow: hidden;
}
.texto3{
    padding: 30px 0px;
    grid-area: texto3;
    text-align: justify;
    margin-top: 20px;
}
.imagen3{
    grid-area: imagen3;
    text-align: center;
    width: 400px;
    margin-top: 20px;
}
.texto4{
    padding: 30px 0px;
    grid-area: texto4;
    text-align: justify;
    margin-top: 20px;
}
.imagen4{
    grid-area: imagen4;
    text-align: center;
    width: 400px;
    margin-top: 20px;
}
.vacio1{
 grid-area: vacio1;
 width: 50px;
}
.vacio2{
    grid-area: vacio2;
    width: 50px;
}
